[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
aniso8601 = "*"
autopep8 = "*"
click = "*"
colorama = "*"
flask = "*"
flask-jwt-extended = "*"
flask-marshmallow = "*"
flask-migrate = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
greenlet = "*"
itsdangerous = "*"
jinja2 = "*"
mako = "*"
markupsafe = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
pycodestyle = "*"
python-dotenv = "*"
pytz = "*"
six = "*"
sqlalchemy = "*"
toml = "*"
werkzeug = "*"
requests = "*"
flask-testing = "*"
flask-mail = "*"

[dev-packages]
coverage = "*"
black = "*"

[requires]
python_version = "3.9"
